[Unit]
Description=SDMS Heartbeat counter service

[Service]
ExecStart=/usr/bin/dotnet /apps/sdms-background-services/sdms-background-service.dll
WorkingDirectory=/apps/sdms-background-services/
User=admin
Group=admin
Restart=on-failure
SyslogIdentifier=sdms-background-services
PrivateTmp=true

[Install]
WantedBy=multi-user.target